.container{
    max-width: 40%;
}

.container header h1{
    font-size: 3.25rem; 
    font-weight: 900; 
    line-height: 2.5rem; 
    text-transform: uppercase;
}
.container header h2{
    font-size: 1.275rem;
    line-height: 2.25rem;
    font-weight: lighter;
}


